body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.wrapper {
	display: grid;
	grid-template-rows: 100% auto;
	align-items: center;
	justify-items: center;
}

.header {
	background-color: #273242;
	color: white;
	text-align: center;
	width: 100%;
}

.header h1 {
	padding: 15px 0;
}
.expenseTable {
	display: grid;
	grid-template-columns: 50% 50%;
	width: 80%;
	margin: 15px;
	padding: 5px;
	border: 1px solid black;
}

.dim-screen {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	z-index: 1000;
	background-color: rgba(0, 0, 0, 0.6);
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.expenses-add {
	margin: 10px 30px;
}

.expenses-container {
	margin: 10px 30px;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
